<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<div align="center">
    <div class="p-3 mb-2 bg-warning text-white"><font size = "10">Sainsbury's</font></div>
    <form method="POST">
        <table class="table table-striped" style="width:400px" align="center">
            <tr>
                <th align="center">S.NO</th>
                <th align="center">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspSKU</th>
                <th align="center">&nbsp&nbspQuantity</th>
            </tr>
            <tr class="table-warning">
                <td align="center">1</td>
                <td align="center"><input id="sku_1" type="text" name="sku_1" value="{{ request.form['sku_1'] }}"/></td>
                <td align="center">
                    <input id="qty_1" type="text" name="qty_1" value="{{ request.form['qty_1'] }}" style="width:50px"/>
                </td>
            </tr>
            <tr align="center">
                <td align="center">2</td>
                <td align="center"><input id="sku_2" type="text" name="sku_2" value="{{ request.form['sku_2'] }}"/></td>
                <td align="center">
                    <input id="qty_2" type="text" name="qty_2" value="{{ request.form['qty_2'] }}" style="width:50px"/>
                </td>
            </tr>
            <tr class="table-warning">
                <td align="center">3</td>
                <td align="center"><input id="sku_3" type="text" name="sku_3" value="{{ request.form['sku_3'] }}"/></td>
                <td align="center">
                    <input id="qty_3" type="text" name="qty_3" value="{{ request.form['qty_3'] }}" style="width:50px"/>
                </td>
            </tr>
        </table>
        <input type="submit" align="center" class="btn btn-warning" value="Complete transaction"/>
    </form>
</div>
</body>
